<app-card variant="secondary" class="form-busca">
    <form [formGroup]="formBuscaService.formBusca" (ngSubmit)="buscar()">
        <h2>Passagens</h2>
        <div class="flex-container">
            <mat-button-toggle-group aria-label="Tipo de passagem" formControlName="somenteIda">
                <mat-button-toggle>IDA E VOLTA</mat-button-toggle>
                <mat-button-toggle>SOMENTE IDA</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-chip (click)="formBuscaService.openDialog()">
                <div class="inner">
                    <mat-icon>check</mat-icon> 1 adulto
                </div>
            </mat-chip>
            <mat-chip (click)="formBuscaService.openDialog()">
                <div class="inner">
                    <mat-icon>check</mat-icon> Econômica
                </div>
            </mat-chip>
        </div>
        <div class="flex-container">
            <!-- Origem e destino -->
            <app-dropdown-uf label="Origem" iconePrefix="flight_takeoff" [control]="formBuscaService.obterControle('origem')"></app-dropdown-uf>
            <button mat-icon-button>
                <mat-icon>sync_alt</mat-icon>
            </button>
            <app-dropdown-uf label="Destino" iconePrefix="flight_land" [control]="formBuscaService.obterControle('destino')"></app-dropdown-uf>

            <!-- Data de ida -->
            <mat-form-field class="input-container" appearance="fill">
                <mat-label>Data de ida</mat-label>
                <input matInput [matDatepicker]="pickerIda" [control]="formBuscaService.obterControle('dataIda')" placeholder="Selecione">
                <mat-datepicker-toggle matIconSuffix [for]="pickerIda"></mat-datepicker-toggle>
                <mat-datepicker #pickerIda>
                    <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancelar</button>
                    <button mat-raised-button matDatepickerApply>Aplicar</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>

            <!-- Data de volta -->
            <mat-form-field class="input-container" appearance="fill">
                <mat-label>Data de volta</mat-label>
                <input matInput [matDatepicker]="pickerVolta" [control]="formBuscaService.obterControle('dataVolta')" placeholder="Selecione">
                <mat-datepicker-toggle matIconSuffix [for]="pickerVolta"></mat-datepicker-toggle>
                <mat-datepicker #pickerVolta>
                    <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancelar</button>
                    <button mat-raised-button matDatepickerApply>Aplicar</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>

            <!-- Botão de buscar -->
            <button mat-flat-button color="primary" class="btn-buscar">Buscar</button>
        </div>
    </form>
</app-card>