<app-card variant="secondary" class="form-busca">
    <h2>Passagens</h2>
    <form class="flex-container">
        <div class="flex-container">
            <mat-button-toggle-group aria-label="Font Style">
                <mat-button-toggle>IDA E VOLTA</mat-button-toggle>
                <mat-button-toggle>SOMENTE IDA</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <mat-chip-listbox aria-label="Seleção de passagens">
            <mat-chip-option selected>1 Adulto</mat-chip-option>
            <mat-chip-option>Econômica</mat-chip-option>
        </mat-chip-listbox>
    </form>
</app-card>