<section class="modal">
    <h2 mat-dialog-title>Viajante</h2>

    <div mat-dialog-content>
        <div class="selecao-idade">
            <app-seletor-passageiro [formControl]="formBuscaService.obterControle('adultos')" titulo="Adultos" subtitulo="(Acima de 12 anos)" />
            <app-seletor-passageiro [formControl]="formBuscaService.obterControle('criancas')" titulo="Crianças" subtitulo="(Entre 2 e 11 anos)" />
            <app-seletor-passageiro [formControl]="formBuscaService.obterControle('bebes')" titulo="Bebes" subtitulo="(Até 2 anos)" />
        </div>
    </div>

    <div class="selecao-categoria">
        <h3>Categoria</h3>
        <mat-chip-listbox aria-label="Categorias de passagens">
            <mat-chip-option value="Econômica" 
            [selected]="formBuscaService.formBusca.get('tipo')?.value === 'Econômica'"
            (selectionChange)="formBuscaService.alterarTipo($event, 'Econômica')">
                Econômica
            </mat-chip-option>
            <mat-chip-option value="Executiva" 
            [selected]="formBuscaService.formBusca.get('tipo')?.value === 'Executiva'"
            (selectionChange)="formBuscaService.alterarTipo($event, 'Executiva')">
                Executiva
            </mat-chip-option>
        </mat-chip-listbox>
    </div>

    <mat-dialog-actions class="modal-actions">
        <button mat-stroked-button mat-dialog-close>Cancelar</button>
        <button mat-flat-button color="primary" mat-dialog-close>Aplicar</button>
    </mat-dialog-actions>
</section>