<footer class="app-footer">
    <div>
        <img src="images/logo-jornada-footer.png" alt="Logo da aplicação Jornada">
        <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
        <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
    </div>
    <span class="spacer"></span>
    <div>
    <p>Acesse nossas redes:</p>
        <img src="images/icones/logo-wpp.png" alt="Logo do WhatsApp">
        <img src="images/icones/logo-instagram.png" alt="Logo do Instagram">
        <img src="images/icones/logo-twitter.png" alt="Logo do Twitter">
    </div>
</footer>